<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.totalquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/br"
        android:label="@string/app_name"
        android:roundIcon="@drawable/br"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sports"
            android:label="@string/title_activity_sports"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.totalquiz.MainActivity" />
        </activity>
        <activity
            android:name=".Bible"
            android:label="@string/title_activity_bible"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.totalquiz.MainActivity" />
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.totalquiz.MainActivity" />
        </activity>
        <activity
            android:name=".General"
            android:label="@string/title_activity_general"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.totalquiz.MainActivity" />
        </activity>
    </application>

</manifest>